<!DOCTYPE html>
{% extends "base.html" %}


{% block title %}Add Book{% endblock %}




{% block content %}
<h1>新しいデータを書き込みます</h1>
<form action="{{ url_for('update')  }}" method="POST">
    <ul>

        
        <label>本の名前</label>
        <input style="width: 300px;" name="title" type="text" value="{{ book_data.title }} ">
        
    </ul>
        
    <ul>

        <label>本の著者</label>
        <input style="width: 300px;" name="author" value=" {{ book_data.author }} ">
        
    </ul>    
    
    <ul>

        <label>評価</label>
        <input style="width: 300px;" name="rating" value=" {{ book_data.rating }}  ">
        
    </ul>
    <ul>

        <input type="hidden" style="width: 300px;" name="id" value=" {{ book_data.id }}  ">
    </ul >
    <ul>
        <button> 変化</button>

    </ul>
        
</form>





{% endblock %}